{% extends 'base/base.html' %}


{%block content %}
    <!--============ Feature CONTENT ======================-->
    {% include 'partial/featured.html' %}


    <!--==================== LATEST ARTICLE =======================-->

    {%include 'partial/home_latest.html' %}

    <!--==========================LATEST POST FOR PHONE===============-->
    {%include 'partial/category_post.html' %}
    <!--================== Section 3rd ===============-->



    
    <!--WEB SOCIAL SECTION====================================================-->



    <!--========================= mobile social section ====================-->
    






    <!--=============== NEWS LETTER =======================-->
    <div id="newsLetter" class="bg-two mt-4">
        <div class="container">
            <div class="p-5 text-white">
                <h4>SUBSCRIBE TO NEWSLETTER</h4>

                <div class="row g-3">
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="Enter your email" aria-label="City">
                    </div>

                    <div class="col-4">
                        <button class="btn btn-dark" style="width: 100%;">Subsribe</button>
                    </div>
                </div>
            </div>
            
        </div>

    </div>

{% endblock content%}

    <!---------------->
    {%block script %}
    <script>
        AOS.init();

        // ScrollReveal().reveal('.container'); 
      
        </script>
    {%endblock script%}
    
