{% extends 'base/base.html' %}

{%block title%}| {{obj.sub_name}}{%endblock title%}



{%block style%}

<style>
            /* [1] The container */
        .img-hover-zoom {
        height: 200px; /* [1.1] Set it as per your need */
        overflow: hidden; /* [1.2] Hide the overflowing of child elements */
        }

        /* [2] Transition property for smooth transformation of images */
        .img-hover-zoom img {
        transition: transform .5s ease;
        }

        /* [3] Finally, transforming the image when container gets hovered */
        .img-hover-zoom:hover img {
        transform: scale(1.5);
        }
</style>

{%endblock style%}

{%block content%}

<div id="category-page" class="d-none d-md-block mt-2">
    <div class="container">
     <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{%url 'home-page' %}">Home</a></li>
         <li class="breadcrumb-item active">{{obj.sub_name}}</li>
       </ol>
    </div>
     
 </div>


 <div id="category-featured" class="d-none d-md-block" >
    <div class="container">
        <h4 class="p-2"><strong>{{obj.sub_name}}</strong></h4>

        <div class="row g-1">
            {% for post in obj.post.all %}
            {%if post.featured and forloop.counter < 4  %}
           
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                           <a href="">
                            <div class="img-hover-zoom">
                                <img style="width: 400px; height: 200px; object-fit: cover;" src="{{post.intro_image.url}}" alt="" class="img-fluid">

                            </div>
                        <div class="mt-2">
                            <p>{{post.title}}</p>
                            <p>Nill@Feb july</p>
                        </div>
                           </a>
                    </div>
                </div>
            </div> <!--col-6-->
           
            {%endif%}
            {% endfor%}
        </div><!--row-->
    </div>
</div>


<!----------------->

<div id="category-post" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="p-2 border">
                    <h6>{{obj.sub_name}} posts</h6>
                </div>
                <div class="row mt-1 g-1">

                    <!--============================-->
                    {% for post in obj.post.all %}
                    <div class="col-md-6 mb-1">
                        <div class="card">
                            <div class="card-body text-center">
                               <a href="">
                                <div class="img-hover-zoom">
                                    <img style="width: 400px; height: 200px; object-fit: cover;" src="{{post.intro_image.url}}" alt="" class="img-fluid">
    
                                    </div>
                                    <div class="mt-2">
                                        <p>{{post.title}}</p>
                                        <p>Nill@Feb july</p>
                                    </div>
                               </a>
                            </div>
                        </div>
                    </div> <!--col-6-->
                    {% endfor%}

   


                    
                            <div class="mt-3 d-flex justify-content-center">
                                <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">&laquo;</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">5</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">&raquo;</a>
                                </li>
                                </ul>
                            </div>
                     



                </div><!--row-->
            </div><!--col-8-->

            <div class="col-md-4">
                <div class="p-2 border bg-one text-white">
                    <h6>Category | {{obj.category}}</h6>
                </div>

                <div class="list-group mt-2">
                    
                        <!-- {{all_cat.category}} -->
                        {%for sub in all_cat %}
                        {% if not sub.sub_name == obj.sub_name %}
                    <a href="{{sub.get_absolute_url}}" class="list-group-item list-group-item-action">{{sub.sub_name}}</a>
                    {%endif%}
                        {%endfor%}
                  
                    <!-- <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action disabled">Morbi leo risus</a> -->
                  </div>


                   
                            <!-- <div class="col-md-12 d-flex justify-content-center mt-2">
                                <div class="bg-dark" style="width: 728px; height: 90px;">
                                    <h4>what now</h4>
                                </div>
                            </div> -->
                    
                    
                    <div class="mt-3 text-center d-none d-md-block">

                        <img style="width: 336px; height: 280px;" src="" alt="">
                        <!-- <div class="bg-dark" style="width: 336px; height: 280px;">
                            <h4>what now</h4> 
                        </div> -->
                    </div>


                    <div class="bg-one p-4 mt-4">
                        <h4 class="text-white">subscribe</h4>
                        <p class="text-white">subscribe to upto date</p>

                        <div class="container">
                  <input type="text" class="form-control" placeholder="Enter your email" aria-label="City">

                        </div>
                    </div>
                   

            </div> <!--col-md-4-->

        </div>
    </div>
</div>


{%endblock content%}