{% extends 'base/base.html' %}

{%block title%}| {{obj.sub_name}}{%endblock title%}



{%block style%}

<style>
            /* [1] The container */
        
</style>

{%endblock style%}

{%block content%}
<!-- 
<div id="category-page" class=" mt-2">
    <div class="">
     <ol class="breadcrumb bg-two">
         <li class="breadcrumb-item"><a href="{%url 'home-page' %}" class="text-white text-decoration-none">
            <i class="uil uil-estate"></i> Home</a></li>
         <li class="breadcrumb-item text-white">
            <i class="{{obj.icon}}"></i> 
            {{obj.sub_name}}</li>
       </ol>
    </div>
     
 </div> -->


 <div id="category-featured" class="mt-2" >
    <div class="container">
        <h4 class="p-2"><strong><i class="{{obj.icon}}"></i> {{obj.sub_name}}</strong></h4>

        <div class="row g-1">
            {% for post in obj.post.all %}
            {%if post.featured and forloop.counter < 4  %}
           
            <div class="col-md-4">
                <div class="card border-0">
                    <div class="card-body ">
                           <a href="{{post.get_absolute_url}}" class="text-decoration-none text-dark">
                            <div class="img-hover-zoom">
                                <img style="width: 400px; height: 200px; object-fit: cover;" src="{{post.intro_image.url}}" alt="" class="img-fluid">

                            </div>
                        <div class="mt-2">
                            <p>{{post.title}}</p>
                            <p>{{post.intro | truncatechars:15}} <span class="text-info">read more</span>
                            </p>
                            <!-- <p>Nill@Feb july</p> -->
                        </div>
                           </a>
                    </div>
                </div>
            </div> <!--col-6-->
           
            {%endif%}
            {% endfor%}
        </div><!--row-->
    </div>
</div>


<!----------------->

<div id="category-post" class="mt-5">
    <div class="container">
        <div class="row g-1">
            <div class="col-md-8">
                <div class="p-2 border bg-two text-white">
                    <h6><i class="{{obj.icon}}"></i> {{obj.sub_name}} | All News</h6>
                </div>
                <div class="row mt-1 g-1" id="fetch-post">

                </div><!--row-->
                <div class="mt-3 d-flex justify-content-center">
                    <button class="btn btn-outline-two btn-sm" style="width: 15%;" onclick="myFunction()" id="fetch-button">Load More</button>
                 </div>
            </div><!--col-8-->

            <div class="col-md-4">
                <div class="p-2 border bg-two text-white">
                    <h6> <i class="{{obj.icon}}"></i> {{obj.category}} | All Category</h6>
                </div>

                <div class="list-group mt-2">
                    
                        <!-- {{all_cat.category}} -->
                        {%for sub in all_cat %}
                        {% if not sub.sub_name == obj.sub_name %}
                    <a href="{{sub.get_absolute_url}}" class="list-group-item list-group-item-action mb-1 border">
                       <i class="{{sub.icon}}"></i> {{sub.sub_name}}</a>
                    {%endif%}
                        {%endfor%}
                  
                    <!-- <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action disabled">Morbi leo risus</a> -->
                  </div>


                   
                            <!-- <div class="col-md-12 d-flex justify-content-center mt-2">
                                <div class="bg-dark" style="width: 728px; height: 90px;">
                                    <h4>what now</h4>
                                </div>
                            </div> -->
                    
                    
                    <!-- <div class="mt-3 text-center d-none d-md-block">

                        <img style="width: 336px; height: 280px;" src="" alt="">
                        
                    </div> -->


                    <div class="bg-two p-4 mt-4">
                        <h4 class="text-white">subscribe</h4>
                        <p class="text-white">subscribe to upto date</p>

                        <div class="container">
                  <input type="text" class="form-control" placeholder="Enter your email" aria-label="City">

                        </div>
                    </div>
                   

            </div> <!--col-md-4-->

        </div>
    </div>
</div>

<!-- <hr>
<div id="fetch-post">
    
</div> -->



{%endblock content%}


{%block script%}

<script>
    let a = "a"
    let b = 1
    let url = "/api/latest/post/e1/{{obj.slug}}" 
    console.log(url)


    //================================================================

    var requestOptions = {
            method: 'GET',
            redirect: 'follow'
            };

            fetch(url, requestOptions)
            .then(response => response.json())
            .then(result => {
                // console.log(result)
                
                    // console.log(result)
                    url = result['links']['next']
                    myArray = result['results']
                    myArray.forEach(function (item) {

                        // let summary = item.summary_one
                        // summary = summary.replace(/<img[^>]*>/g,"");
                        
                        document.getElementById("fetch-post").innerHTML += `
                        <div data-aos="fade-down-right" class="col-md-6 mb-1">
                        <div class="card border-0">
                            <div class="card-body">
                               <a href="${item.get_absolute_url}" class="text-decoration-none text-dark">
                                <div class="img-hover-zoom">
                                    <img style="width: 400px; height: 200px; object-fit: cover;" src="${item.intro_image}" alt="" class="img-fluid">
    
                                    </div>
                                    <div class="mt-2">
                                        <p>${item.title}</p>
                                        
                                        <div class="mt-2 text-truncate"> ${item.intro}  </div>

                                       
                                    </div>
                               </a>
                            </div>
                        </div>
                    </div> 

                       

                        `
                       
                    });
                    if (result['links']['next'] == null){
                   
                        document.getElementById("fetch-button").classList.add("d-none");
                    }
            })
            .catch(error => console.log('error', error));

//===========================================================================
    function myFunction() {
    
            // var requestOptions = {
            // method: 'GET',
            // redirect: 'follow'
            // };

            fetch(url, requestOptions)
            .then(response => response.json())
            .then(result => {
                console.log(result)
                
                    console.log(result)
                    url = result['links']['next']
                    myArray = result['results']
                    myArray.forEach(function (item) {
                        // let summary = item.summary_one
                        // summary = summary.replace(/<img[^>]*>/g,"");
                        
                        document.getElementById("fetch-post").innerHTML += `

                        <div data-aos="fade-down-right" class="col-md-6 mb-1">
                        <div class="card border-0">
                            <div class="card-body">
                               <a href="${item.get_absolute_url}" class="text-decoration-none text-dark">
                                <div class="img-hover-zoom">
                                    <img style="width: 400px; height: 200px; object-fit: cover;" src="${item.intro_image}" alt="" class="img-fluid">
    
                                    </div>
                                    <div class="mt-2">
                                        <p>${item.title}</p>
                                        <div class="mt-2 text-truncate">  ${item.intro}  </div>

                                       
                                    </div>
                               </a>
                            </div>
                        </div>
                    </div> 

                        `
                       
                    });
                    if (result['links']['next'] == null){
                   
                        document.getElementById("fetch-button").classList.add("d-none");
                    }
            })
            .catch(error => console.log('error', error));


        }
       
</script>

{%endblock script%}