{%extends 'base/base.html'%}


{%block style%}

<style>
    .be-comment-block {
    margin-bottom: 50px !important;
    border: 1px solid #edeff2;
    border-radius: 2px;
    padding: 50px 70px;
    border:1px solid #ffffff;
}

.comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 80px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-name {
    font-size: 13px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
    color: #383b43;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-time {
    font-size: 11px;
    color: #b4b7c1;
}

.be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}

.form-group.fl_icon .icon {
    position: absolute;
    top: 1px;
    left: 16px;
    width: 48px;
    height: 48px;
    background: #f6f6f7;
    color: #b5b8c2;
    text-align: center;
    line-height: 50px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.form-group .form-input {
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    color: #b4b7c1;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #edeff2;
    border-radius: 3px;
}

.form-group.fl_icon .form-input {
    padding-left: 70px;
}

.form-group textarea.form-input {
    height: 150px;
}

</style>

{%endblock style%}

{%block content%}

<div id="category-page" class="d-none d-md-block mt-2">
    <div class="container">
     <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{%url 'home-page' %}">Home</a></li>
         <li class="breadcrumb-item"><a href="{%url 'home-page' %}">Category</a></li>
         <li class="breadcrumb-item active">title of the post</li>
       </ol>
    </div>
     
 </div>

 <div id="single-page" class="mb-4">
     <div class="container">
        <h4 class="p-2"><strong>Category</strong></h4>

        <div class="row mt-4">
            <div class="col-md-8">
            <h4><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, cumque?</b></h4>
            <span>written by:nill feb 19 | views:1231 | 0 comment</span>

            <div class="mt-2">
            <img src="https://images.unsplash.com/photo-1609743522653-52354461eb27?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" style="width:100%; height: 300px; object-fit: contain;" alt="">

            </div>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit voluptatem architecto quia quam autem quisquam ex veritatis necessitatibus facilis quibusdam?
            </p>

            <p mt-2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit voluptatem architecto quia quam autem quisquam ex veritatis necessitatibus facilis quibusdam?
            </p>

            <p mt-2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit voluptatem architecto quia quam autem quisquam ex veritatis necessitatibus facilis quibusdam?
            </p>

            <div>
                <span><b>Tags:  </b></span>
                <span>One</span>
                <span>Two</span>
            </div>

            <div class="mt-1">
                Share:
                <a class="btn btn-info" href="">Fb</a>
                <a class="btn btn-info" href="">Fb</a>
                <a class="btn btn-info" href="">Fb</a>
                <a class="btn btn-info" href="">Fb</a>

            </div>


            <div class="mt-4 ">
                


                <figure class="text-end">
                    <blockquote class="blockquote">
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      Someone famous in <cite title="Source Title">Source Title</cite>
                    </figcaption>
                  </figure>


                  <figure class="text-end">
                    <blockquote class="blockquote">
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      Someone famous in <cite title="Source Title">Source Title</cite>
                    </figcaption>
                  </figure>


                  <form class="form-block">
                    <div class="row g-1">
                        <div class="col-xs-12 ">
                            <div class="form-group fl_icon">
                                <div class="icon"><i class="fa fa-user"></i></div>
                                <input class="form-input" type="text" placeholder="Your name">
                            </div>
                        </div>
                        <!-- <div class="col-xs-12 col-sm-6 fl_icon">
                            <div class="form-group fl_icon">
                                <div class="icon"><i class="fa fa-envelope-o"></i></div>
                                <input class="form-input" type="text" placeholder="Your email">
                            </div>
                        </div> -->
                        <div class="col-xs-12">									
                            <div class="form-group">
                                <textarea class="form-input" required="" placeholder="Your text"></textarea>
                            </div>
                        </div>
                        <a class="btn btn-primary pull-right">submit</a>
                    </div>
                </form>
            </div>

            
            </div> <!--.col-md-8-->

            <div class="col-md-4">
                <div class="p-2 border bg-one text-white">
                    <h6>Category | {{obj.category}}</h6>
                </div>


                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action ">Cras justo odio</a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action disabled">Morbi leo risus</a>
                  </div>


                  
            <div class="p-2 border bg-one text-white mt-4">
                <h6>Related Post</h6>
            </div>
            <div class="row g-1">
                <div class="col-6">
                    <a href="">
                <img src="https://images.unsplash.com/photo-1609743522653-52354461eb27?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" style="width:100%; height: 100px; object-fit: cover;" alt="">

                    </a>
                </div>

                <div class="col-6">
                    <a href="">
                <img src="https://images.unsplash.com/photo-1609743522653-52354461eb27?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" style="width:100%; height: 100px; object-fit: cover;" alt="">

                    </a>
                </div>
            </div>
            </div>



            
        </div> <!--row-->

        
     </div>
 </div>

{%endblock%}