{%extends 'base/base.html'%}
{% load humanize %}

{%block style%}

<style>
    .be-comment-block {
    margin-bottom: 50px !important;
    border: 1px solid #edeff2;
    border-radius: 2px;
    padding: 50px 70px;
    border:1px solid #ffffff;
}

.comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 80px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-name {
    font-size: 13px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
    color: #383b43;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-time {
    font-size: 11px;
    color: #b4b7c1;
}

.be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}

.form-group.fl_icon .icon {
    position: absolute;
    top: 1px;
    left: 16px;
    width: 48px;
    height: 48px;
    background: #f6f6f7;
    color: #b5b8c2;
    text-align: center;
    line-height: 50px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.form-group .form-input {
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    color: #b4b7c1;
    width: 100%;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #edeff2;
    border-radius: 3px;
}

.form-group.fl_icon .form-input {
    padding-left: 70px;
}

.form-group textarea.form-input {
    height: 100px;
}
/* ========================================= */

</style>

{%endblock style%}

{%block content%}

<!-- <div id="category-page" class="d-none d-md-block mt-2">
    <div class="container">
     <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{%url 'home-page' %}">Home</a></li>
         <li class="breadcrumb-item"><a href="{%url 'home-page' %}">Category</a></li>
         <li class="breadcrumb-item active">{{obj.title}}</li>
       </ol>
    </div>
     
 </div> -->

 <div id="single-page" class="mb-4">
     <div class="container">
        <!-- <h4 class="p-2"><strong>{{obj.scategory}}</strong></h4> -->

        <div class="row mt-4 g-2">
            <div class="col-md-8">
            <h4><b>{{obj.title}}</b></h4>
            <span<i class="uil uil-edit"></i>written by:{{obj.author.first_name}} {{obj.author.last_name}} |
            <i class="uil uil-calendar-alt"></i> {{obj.created_at|date:"d M" }} | 
            <i class="uil uil-eye"></i>views: {{obj.view_count}} | 
            <i class="uil uil-comments-alt"></i>comments:0</span>

            <div class="mt-2 mb-4">
            <img src="{{obj.intro_image.url}}" style="width:100%; height: 300px; object-fit: cover;" alt="">

            </div>

            <div class="mt-2">
                <span> <b>Introduction:</b></span>
                {{obj.intro}}
            </div>

            <div>
                {{obj.summary_one|safe }}
            </div>
            <!-- <div>
                <span><b>Tags:  </b></span>
                <span>One</span>
                <span>Two</span>
            </div> -->

            <div class="mt-1">
                <i class="uil uil-share"></i> Share:
                <a class="" href=""><i class="uil uil-facebook-f"></i></a>
                <a class="" href=""><i class="uil uil-facebook-f"></i></a>
                <a class="" href=""><i class="uil uil-facebook-f"></i></a>
                <a class="" href=""><i class="uil uil-facebook-f"></i></a>
            </div>


            <div class="mt-4 ">
                


                <figure class="text-end">
                    <blockquote class="blockquote" style="font-size: medium;">
                      <p class="mb-0"></p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      Someone famous in <cite title="Source Title">Source Title</cite>
                    </figcaption>
                  </figure>

                  <figure class="text-end">
                    <blockquote class="blockquote" style="font-size: medium;">
                      <p class="mb-0"></p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      Someone famous in <cite title="Source Title">Source Title</cite>
                    </figcaption>
                  </figure>

                  <figure class="text-end">
                    <blockquote class="blockquote" style="font-size: medium;">
                      <p class="mb-0"></p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      Someone famous in <cite title="Source Title">Source Title</cite>
                    </figcaption>
                  </figure>




                  <form class="form-block">
                    <div class="row g-1">
                        <div class="col-xs-12 ">
                            <div class="form-group fl_icon">
                                <div class="icon"><i class="fa fa-user"></i></div>
                                <input class="form-input" type="text" placeholder="Your name">
                            </div>
                        </div>
                        <!-- <div class="col-xs-12 col-sm-6 fl_icon">
                            <div class="form-group fl_icon">
                                <div class="icon"><i class="fa fa-envelope-o"></i></div>
                                <input class="form-input" type="text" placeholder="Your email">
                            </div>
                        </div> -->
                        <div class="col-xs-12">									
                            <div class="form-group">
                                <textarea class="form-input" required="" placeholder="Your text" rows="3"></textarea>
                            </div>
                        </div>
                        <a class="d-inline btn btn-outline-two btn-sm ">Comment</a>
                    </div>
                </form>
            </div>

            
            </div> <!--.col-md-8-->

            <div class="col-md-4" style="margin-top: 6%;">
                <div class="p-2 border bg-two text-white">
                    <!-- <h6>Category | {{obj.scategory.category}}</h6> -->
                    <h6><i class="uil uil-dice-four"></i> Related Category</h6>
                </div>


                <div class="list-group mt-1">
                    {%for sub in all_cat %}
                        {% if not sub.sub_name == obj.scategory %}
                    <a href="{{sub.get_absolute_url}}" class="list-group-item list-group-item-action mb-1 border">
                       <i class="{{sub.icon}}"></i> {{sub.sub_name}}</a>
                        {%endif%}
                    {%endfor%}
                    
                  </div>


                  
            <div class="p-2 border bg-two text-white mt-4">
                <h6><i class="uil uil-wall"></i> Related News</h6>
            </div>
            <div class="row g-1">

                {% for item in obj.scategory.post.all %}

                    {%if not item.slug == obj.slug %}
                  <div class="col-md-6">
                    <figure >
                        <img src="{{item.intro_image.url}}"  class="img-fluid img-rounded" valign="absmiddle" style="height:100px;object-fit:cover;" />
                        <!-- <h4 class="p-2">{{item.title}}</h4> -->
                        <div class="overlay">
                            <div class="description">
                                <a href="{{item.get_absolute_url}}" style="text-decoration: none; color: aliceblue;">
                                    <p>{{item.title}}</p>
                                    <!-- <p>{{f.created_at}}</p> -->
                                </a>
                            </div>
                        </div>
                    </figure>
                  </div>
                <!-- <div class="col-6">
                    <a href="{{item.get_absolute_url}}">
                       
               <div class="img-hover-zoom">
                <img src="{{item.intro_image.url}}" style="width:100%; height: 100px; object-fit: cover;" alt="">
               </div>

                    </a>
                </div> -->
                    {%endif%}
                {% endfor%}


               

             
            </div>
            </div>



            
        </div> <!--row-->

        
     </div>
 </div>

{%endblock%}