{%extends 'base/base.html'%}
{% load humanize %}
{% load social_share %}
{%block style%}

<style>
    .be-comment-block {
    margin-bottom: 50px !important;
    border: 1px solid #edeff2;
    border-radius: 2px;
    padding: 50px 70px;
    border:1px solid #ffffff;
}

.comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 80px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-name {
    font-size: 13px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
    color: #383b43;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-time {
    font-size: 11px;
    color: #b4b7c1;
}

.be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}

.form-group.fl_icon .icon {
    position: absolute;
    top: 1px;
    left: 16px;
    width: 48px;
    height: 48px;
    background: #f6f6f7;
    color: #b5b8c2;
    text-align: center;
    line-height: 50px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.form-group .form-input {
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    color: #b4b7c1;
    width: 100%;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #edeff2;
    border-radius: 3px;
}

.form-group.fl_icon .form-input {
    padding-left: 70px;
}

.form-group textarea.form-input {
    height: 100px;
}
/* ========================================= */

</style>

{%endblock style%}


{%block metatitle%}{{obj.title}}{%endblock metatitle%}
{%block metadescription%}{{obj.intro}}{%endblock metadescription%}
{%block metaimg%}{{ request.META.HTTP_HOST }}{{obj.intro_image.url}}{%endblock metaimg%}

{%block content%}



 <div id="single-page" class="mb-4">
     <div class="container">
       

        <div class="row mt-4 g-2">
            <div class="col-md-8">
            <h4><b>{{obj.title}}</b></h4>
            <span<i class="uil uil-edit"></i>written by:{{obj.author.first_name}} {{obj.author.last_name}} |
            <i class="uil uil-calendar-alt"></i> {{obj.created_at|date:"d M" }} | 
            <i class="uil uil-eye"></i>views: {{obj.view_count}} | 
            <i class="uil uil-comments-alt"></i>comments:{{comment_count}}  </span>

            <div class="mt-2 mb-4">
            <a href="#" data-bs-toggle="modal" data-bs-target="#singleImg">
                <img src="{{obj.intro_image.url}}" style="width:100%; height: 300px; object-fit: cover;" alt="">
            </a>

            <!--MODAL-->
            <!-- Modal -->
                <div class="modal fade" id="singleImg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                      
                        <div class="modal-body">
                       <img src="{{obj.intro_image.url}}" alt="" class="img-fluid">
                        </div>
                      
                    </div>
                    </div>
                </div>
  <!---->

            </div>

            <div class="mt-2">
                <span> <b>Introduction:</b></span>
                {{obj.intro}}
            </div>

            <div>
                {{obj.summary_one|safe }}
            </div>
         

            <div class="mt-1">
            
                
                <i class="uil uil-share"></i> Share:
                <a class="btn btn-sm btn-outline-two" href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}" target="_blank">
                    <i class="uil uil-facebook-f"></i>facebook</a>
                <a class="btn btn-sm btn-outline-two" href="https://twitter.com/intent/tweet?text={{request.build_absolute_uri}}" target="_blank"><i class="uil uil-twitter">
                   
                </i> twitter</a>
                <a class="btn btn-sm btn-outline-two" href="https://www.linkedin.com/shareArticle?mini=true&title={{obj.title}}s&url={{request.build_absolute_uri}}"
                target="_blank">
                    <i class="uil uil-linkedin"></i>linkedin</a>
                <!-- <a class="" href=""></a> -->
            </div>

            <hr>

            <div class="mt-4 p-1">
                


                <div id="comment-box">
                    {% for com in obj.comment.all %}
                    <figure class="text-end">
                        <blockquote class="blockquote" style="font-size: medium;">
                          <p class="mb-0"></p>{{com.oponion}}</p>
                        
                        </blockquote>
                        <figcaption class="blockquote-footer text-wrap">
                          {{com.name}} 
                        </figcaption>
                      </figure>
                      {% endfor%}
                </div>

                  




                  <form class="form-block" method="POST" >
                      {% csrf_token%}
                    <div class="row g-1">
                        <div class="col-xs-12 ">
                            <div class="form-group fl_icon">
                                <div class="icon"><i class="fa fa-user"></i></div>
                                <input id="comment-name" name="name" required maxlength="30" class="form-input" type="text" placeholder="Your name">
                            </div>
                        </div>
                      
                        <div class="col-xs-12">									
                            <div class="form-group">
                                <textarea maxlength="120" id="comment-oponion"  class="form-input" required placeholder="Your oponion" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="text-center">
                            <a onclick="commentFunction()" class="d-inline btn btn-outline-two btn-sm " style="width: 30%;">Comment</a>
                        </div>
                    </div>
                </form>
            </div>

            
            </div> <!--.col-md-8-->

            <div class="col-md-4" style="margin-top: 6%;">
                <div class="p-2 border bg-two text-white">
                    <!-- <h6>Category | {{obj.scategory.category}}</h6> -->
                    <h6><i class="uil uil-dice-four"></i> Related Category</h6>
                </div>


                <div class="list-group mt-1">
                    {%for sub in all_cat %}
                        {% if not sub.sub_name == obj.scategory %}
                    <a href="{{sub.get_absolute_url}}" class="list-group-item list-group-item-action mb-1 border">
                       <i class="{{sub.icon}}"></i> {{sub.sub_name}}</a>
                        {%endif%}
                    {%endfor%}
                    
                  </div>


                  
            <div class="p-2 border bg-two text-white mt-4">
                <h6><i class="uil uil-wall"></i> Related News</h6>
            </div>
            <div class="row g-1">

                {% for item in obj.scategory.post.all %}

                    {%if not item.slug == obj.slug and forloop.counter < 5 %}
                  <div class="col-md-6">
                    <figure >
                        <img src="{{item.intro_image.url}}"  class="img-fluid img-rounded" valign="absmiddle" style="height:100px;object-fit:cover;" />
                        <!-- <h4 class="p-2">{{item.title}}</h4> -->
                        <div class="overlay">
                            <div class="description">
                                <a href="{{item.get_absolute_url}}" style="text-decoration: none; color: aliceblue;">
                                    <span style="font-size: 15px !important;">{{item.title}}</span>
                                    <!-- <p>{{f.created_at}}</p> -->
                                </a>
                            </div>
                        </div>
                    </figure>
                  </div>
                <!-- <div class="col-6">
                    <a href="{{item.get_absolute_url}}">
                       
               <div class="img-hover-zoom">
                <img src="{{item.intro_image.url}}" style="width:100%; height: 100px; object-fit: cover;" alt="">
               </div>

                    </a>
                </div> -->
                    {%endif%}
                {% endfor%}


               

             
            </div>
            </div>



            
        </div> <!--row-->

        
     </div>
 </div>

{%endblock%}

{%block script%}

<script>
  
    function commentFunction() {
    let name = document.getElementById("comment-name").value;
    let comment = document.getElementById('comment-oponion').value;
    let csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value
    

    document.getElementById("comment-box").innerHTML += `
    <figure class="text-end">
    <blockquote class="blockquote text-wrap" style="font-size: medium;">
        <p class="mb-0"></p>${comment}.</p>
    
    </blockquote>
    <figcaption class="blockquote-footer">
        ${name}
    </figcaption>
    </figure>
    `;


    ////////////////=============================================

    var cyHeaders = new Headers();
    cyHeaders.append("Content-Type", "application/json");
    cyHeaders.append('X-CSRFToken',csrf);
    

    var craw = JSON.stringify({
    "slug": "{{obj.slug}}",
    "name": name,
    "comment": comment,
    
    });

   
    var crequestOptions = {
    method: 'POST',
    headers: cyHeaders,
    body: craw,
    // redirect: 'follow'
    };

    fetch("/api/comment/", crequestOptions)
    .then(response => response.text())
    .then(result => console.log(result))
    .catch(error => console.log('error', error));

    ///////////////==============================================
    document.getElementById("comment-name").value ='';
    document.getElementById('comment-oponion').value='';
    }
    // document.getElementById("comment-name").value = ''
    // document.getElementById("comment-box").value = ''
</script>

{%endblock script%}