<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lalala</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

      
      body{
        /* font-family: 'Encode Sans SC', sans-serif; */
        font-family: 'Crete Round', serifsd;
        -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  
      }

      a{
            text-decoration: none;
        }

        .bg-four{
            background: #500218;
            background-image: linear-gradient(#420315, #61051f);
        }


                /* Hide scrollbar for Chrome, Safari and Opera */
        body::-webkit-scrollbar {
            display: none;
        }

     

    </style>
</head>
<body>

    <div class="p-2 bg-dark text-white fixed-top">
       <div class="container">
        <div class="d-flex justify-content-between">
          <div>
            <!-- <a href="#">Profile</a>
            <a href="#">Logout</a> -->
            <a  class="text-white me-2"  data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
              <i class="uil uil-align-alt"></i> Dashboard
              </a>

              <a href="{% url 'dashboard-home' %}" class="text-white me-2">
                <i class="uil uil-estate"></i> home
              </a>

        </div>
          <div>
            <a href="{% url 'home-page' %}" class="text-white me-2">
              <i class="uil uil-estate"></i>
            </a>
               
                <a href="#" class="text-white me-2">
                  <i class="uil uil-envelope"></i>
                </a>

                <a href="{% url 'auth-logout' %}" class="text-white me-2">
                  <i class="uil uil-sign-out-alt"></i>
                </a>
          </div>

         
      </div>
       </div>
    </div>


    
      <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Button with data-bs-target
      </button> -->
      
      <div class="offcanvas offcanvas-start" style="width: 300px;" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">
            <a class="text-dark" href="{% url 'home-page' %}">
              The News Carrier
            </a>
          </h5>
         
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <hr>
        <div class="offcanvas-body">
          <div class="d-flex ">
          <div>
            <img src="https://images.unsplash.com/photo-1505771215590-c5fa0aec29b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=633&q=80" style="border-radius: 50%; width: 50px; height: 50px; object-fit: contain;"  alt="">
          </div>

          <div class="ms-4">
            <span>{{request.user.first_name}} {{request.user.last_name}}</span>
            <br>
            <span>Email:{{request.user.username}}</span>
          </div>
          
          


          </div>
            <div class="text-center mt-3">
              <a href="{% url 'auth-logout' %}" class="btn btn-sm btn-danger" style="width: 50%;">Logout</a>
            </div>
          <hr>
          <!--nav button-->
          <!-- <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
              Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div> -->

          <div class="list-group">
            <!-- <a href="#"></a> -->
            <a style="border: none;" href="{% url 'dashboard-post-create' %}" class="p-2 mb-2 list-group-item list-group-item-action ">
              <i class="uil uil-plus-square"></i> Create Post</a>
            <a style="border: none;" href="{%url 'dashboard-request-post' %}" class="p-2 mb-2 list-group-item list-group-item-action ">
              <i class="uil uil-mailbox"></i> Post Request</a>
            <!-- <a style="border: none;" href="#" class="p-2 mb-2 list-group-item list-group-item-action ">Cras justo odio</a>
            <a style="border: none;" href="#" class="p-2 mb-2 list-group-item list-group-item-action ">Cras justo odio</a> -->

            <!-- <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Morbi leo risus</a> -->
          </div>
        </div>
      </div>
    
    {%block content%}


    {%endblock %}

    <!-- <div id="editor">
      <p>Hello World!</p>
      <p>Some initial <strong>bold</strong> text</p>
      <p><br></p>
    </div> -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <script>
      
    </script>

    {%block script%}


    {%endblock script%}
</body>
</html>