{% extends 'carrier/carrier_base.html' %}


{%block content%}

<div class="container">
    <div class="p-5 text-center">
        Welcome to The News Carrier Portal
        <p>Share what's in your mind</p>
    </div>

    <div class="row g-1 mb-5">
        <div class="col-md-10">
            <h6 class="p-2  bg-four text-white">Your Posts</h6>

            <div class="card">
                <div class="card-body">
                    <form class="row g-3" method="POST" id="identifier"  enctype="multipart/form-data">
                        {%csrf_token%}
                        <div class="col-md-12">
                            <label for="category" class="form-label">category</label>
                            <select id="inputCategory" class="form-select" name="category" required>
                              <!-- <option selected disabled>select a category...</option> -->
                              
                              {%for cat in category%}
                              <option>{{cat.sub_name}}</option>
                              {%endfor%}
                            </select>
                          </div>

                        <div class="col-md-12">
                          <label for="title" class="form-label">title</label>
                          <input type="text" class="form-control" id="newsTitle" name="title" required>
                        </div>
                        <div class="col-md-12">
                          <label for="intro_image" class="form-label">picture</label>
                            <input type="file" class="form-control" id="introPic" name="pic" required>
                        </div>
                        <div class="col-12">
                            <label for="intro" class="form-label">Introduction</label>
                            <textarea class="form-control" id="post-intro" rows="3" placeholder="Brief about your article" name="intro"></textarea>
                        </div>
                        <div class="col-12">
                            <div id="postDescription" ></div>
                            <!-- <label for="description" class="form-label">Description</label>-->
                            <textarea name="description" class="form-control" id="hiddenArea" style="display:none" ></textarea> 
                        </div>
                        
                        <div class="col-12" style="margin-top: 7%;">
                          <button type="submit" class="btn btn-outline-primary">create post</button>
                        </div>
                      </form>
                </div>
            </div>
            
        </div> <!--col-md-8-->
        <div class="col-md-2">
           <div class="card">
               <div class="card-body">
                   <img src="#" id="prevImg" alt="" class="img-fluid">
               </div>
           </div>

            
         </div> <!--row-->

</div>

{%endblock%}


{%block script%}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    introPic.onchange = evt => {
        const [file] = introPic.files
        if (file) {
            prevImg.src = URL.createObjectURL(file)
        }
        }


        var quill = new Quill('#postDescription', {
          theme: 'snow'
        });

        $("#identifier").on("submit",function(){
            $("#hiddenArea").val($("#postDescription .ql-editor").html());
            })
</script>

{%endblock script%}