
    <div id="latest-article" class=" d-md-block" >
        <div class="container mt-4">
            <div class="row g-1">
               
                <div class="col-md-12">
                    <div  class="p-2 border d-flex justify-content-between bg-two text-white">
                        <p style="margin-bottom: 0px;" ><i class="uil uil-wall"></i> Latest Post</p>
                        <a href="" class="text-decoration-none text-white">view all<i class="uil uil-arrow-right"></i></a>
                     </div>
                     
                     <div class="row mt-2" id="homeLatestPost" style="overflow: scroll;" >

                     </div>

                     <div class="text-center mt-2" id="lsfetch-button">
                        <a class="btn btn-outline-two btn-sm" style="width: 15%;" onclick="lmyFunction()">More</a>
                    </div> 
                                 
                </div> <!--col-8-->

               

            </div>
        </div>
    </div>

