<div class="container d-md-none mb-5" >
    <!--for mobile-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary  fixed-top" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
      
      </div>
    </div>
  </nav>
</div>

<!--======-->
<div id="brand" >
    <div class="container">
        <div class="row text-center">
            <div class="col-12 mt-4 mb-2">
                <h4><span class="text-primary"><b>BENAPOLE</b></span>ROCKS</h4>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <div class="bg-dark" style="width: 728px; height: 90px;">

                </div>
            </div>
        </div>
    </div>
</div>
<!---==========-->



<!--==================================-->

<div id="navigation" class="bg-one d-none d-md-block">
    <div class="container mt-2">
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">BenapoleRocks</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item dropdown has-megamenu">
                            <a class="nav-link dropdown-toggle show" href="#" data-bs-toggle="dropdown">Education</a>
                            <div class="dropdown-menu megamenu show" role="menu">


                                <div class="d-flex align-items-start ">
                                    <div style="width: 20%;" class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                      <button  class="nav-link text-dark active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
                                      <button class="nav-link text-dark" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
                                      <button class="nav-link text-dark" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
                                      <button class="nav-link text-dark" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
                                    </div>
                                    <div class="tab-content" id="v-pills-tabContent" style="width: 100%;">
                                      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                         <div class="row">
                                             <div class="col-3">
                                                 <div class="card">
                                                     <!-- <div class="card-header">
                                                         <h4>TITLE</h4>
                                                     </div> -->
                                                     <img style="max-width: 100%; height: 150px;" src="https://images.unsplash.com/photo-1554048109-2b3c9a6d877b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="">
                                                     <div class="card-body">
                                                         <p><b>Lorem, ipsum dolor.</b></p>
                                                         <!-- <br> -->
                                                         <span>Entertainment July 8</span>
                                                     </div>
                                                 </div>
                                             </div>

                                             <div class="col-3">
                                                <div class="card">
                                                    <img style="max-width: 100%; height: 150px;" src="https://images.unsplash.com/photo-1554048109-2b3c9a6d877b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="">
                                                    <div class="card-body">
                                                        <p><b>Lorem, ipsum dolor.</b></p>
                                                        <!-- <br> -->
                                                        <span>Entertainment July 8</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <div class="card">
                                                    <img style="max-width: 100%; height: 150px;" src="https://images.unsplash.com/photo-1554048109-2b3c9a6d877b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="">
                                                    <div class="card-body">
                                                        <p><b>Lorem, ipsum dolor.</b></p>
                                                        <!-- <br> -->
                                                        <span>Entertainment July 8</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <div class="card">
                                                    <img style="max-width: 100%; height: 150px;" src="https://images.unsplash.com/photo-1554048109-2b3c9a6d877b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="">
                                                     <div class="card-body">
                                                         <p><b>Lorem, ipsum dolor.</b></p>
                                                         <!-- <br> -->
                                                         <span>Entertainment July 8</span>
                                                     </div>
                                                </div>
                                            </div>

                                         </div>
                                      </div>
                                      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
                                      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                                      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                                    </div>
                                  </div>
                         
                               
                            </div> 
                        </li>

                        <li class="nav-item dropdown has-megamenu">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Jobs</a>
                            <div class="dropdown-menu megamenu" role="menu">
                               <div class="row">
                                   <div class="col-4">
                                    <h4>category</h4>
                                   </div>
                                   <div class="col-8">
                                       <h4>one</h4>
                                       <h4>one</h4>
                                       <h4>one</h4>
                                       <h4>one</h4>

                                   </div>
                               </div>
                            </div> 
                        </li>

                        <li class="nav-item dropdown has-megamenu">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Life Style</a>
                            <div class="dropdown-menu megamenu" role="menu">
                               <div class="row">
                                   <div class="col-4">
                                    <h4>category</h4>
                                   </div>
                                   <div class="col-8">
                                       <h4>one</h4>
                                       <h4>one</h4>
                                       <h4>one</h4>
                                       <h4>one</h4>

                                   </div>
                               </div>
                            </div> 
                        </li>


                        <li class="nav-item dropdown has-megamenu">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Entertainment</a>
                            <div class="dropdown-menu megamenu" role="menu">
                               <div class="row">
                                   <div class="col-4">
                                    <h4>category</h4>
                                   </div>
                                   <div class="col-8">
                                       <h4>one</h4>
                                       <h4>one</h4>
                                       <h4>one</h4>
                                       <h4>one</h4>

                                   </div>
                               </div>
                            </div> 
                        </li>


                        <li class="nav-item dropdown has-megamenu">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">News</a>
                            <div class="dropdown-menu megamenu" role="menu">
                               <div class="row">
                                   <div class="col-4">
                                    <h4>category</h4>
                                   </div>
                                   <div class="col-8">
                                       <h4>one</h4>
                                       <h4>one</h4>
                                       <h4>one</h4>
                                       <h4>one</h4>

                                   </div>
                               </div>
                            </div> 
                        </li>
                   
                        <li class="nav-item dropdown has-megamenu">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Education</a>
                            <div class="dropdown-menu megamenu" role="menu">
                               <div class="row">
                                   <div class="col-4">
                                    <h4>category</h4>
                                   </div>
                                   <div class="col-8">
                                       <h4>one</h4>
                                       <h4>one</h4>
                                       <h4>one</h4>
                                       <h4>one</h4>

                                   </div>
                               </div>
                            </div> 
                        </li>
                    </ul>
                    <!-- <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#"> Menu item </a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Dropdown right </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                              <li><a class="dropdown-item" href="#"> Submenu item 1</a></li>
                              <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
                            </ul>
                        </li>
                    </ul> -->
                </div> <!-- navbar-collapse.// -->
            </div> <!-- container-fluid.// -->
            </nav>
    </div>
</div>

