
<div id="navigation"  style="background-color:#fafafa;" class="fixed-top" >
    <div class="">

      <div id="brand" class="" >
        <div class="container">
          
            <div class="row ">
           
                <div class="col-md-12 col-xs-12 mt-4 mb-2 text-center">
                    <h4><a href="{%url 'home-page' %}"><span class="text-primary"><b>The News<sup><i class="uil uil-tornado"></i></sup></b></span>Carrier</a></h4>
                </div>
               
            </div>
        </div>
    </div>
        
    <nav class="navbar navbar-expand-lg navbar-dark p-1 d-none d-md-block" style="background-color:#9f1239;">
            
      <div class="container">

      
             <!---===============================================-->
        <div class="collapse navbar-collapse justify-content-center" >
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a href="{%url 'home-page' %}" class="nav-link active"><i class="uil uil-estate"></i> Home</a>
            </li>
              {% for cat in postcategory %}
              <li class="nav-item dropdown has-megamenu">
                  <a class="nav-link dropdown-toggle show" href="#" data-bs-toggle="dropdown">
                   <i class="{{cat.icon}}"></i> {{cat.category}}</a>
                  <div class="dropdown-menu megamenu" role="menu">

                    <div class="container mb-4 mt-4">
                      <div class="row g-1">
                        {% for scat in cat.subcategory.all %}
                        <div class="col-md-2  hover-content" >
                          <a href="{{scat.get_absolute_url}}" class="text-decoration-none text-dark">
                            <div class="text-center ">
                              <h3><i class="{{scat.icon}}"></i></h3>
                              <h6>{{scat.sub_name}}</h6>
                              
                            </div>
                          </a>
                        </div>
                        {%endfor%}
                      </div>
                    </div>


                  </div> <!--dropdown menu-->
              </li>
              {%endfor%} 
          </ul>
      </div> <!-- navbar-collapse.// -->


      <!----------------------- FOR MOBILE=====================-->


      <!--==========================================================-->


    </div> <!--.container-->
  </nav>
  <!---==============================-->
  <nav class="navbar navbar-expand-lg navbar-dark p-1 d-sm-block d-md-none" style="background-color:#9f1239;">
            
    <div class="container">

      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#main_nav_phone" aria-controls="main_nav" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
           <!---===============================================-->
      <div class="collapse navbar-collapse justify-content-center " id="main_nav_phone">
       
         
            <!-- <a href="{%url 'home-page' %}" class="nav-link active"><i class="uil uil-estate"></i> Home</a> -->
        
            {% for cat in postcategory %}
        

                  
                    <div class="row g-1 mt-4 mb-4">
                      {% for scat in cat.subcategory.all %}
                      <div class="col-2" >
                        <a href="{{scat.get_absolute_url}}" class="text-decoration-none text-white">
                          <div class="text-center ">
                            <h3><i class="{{scat.icon}}"></i></h3>
                            <h6>{{scat.sub_name}}</h6>
                            
                          </div>
                        </a>
                      </div>
                      {%endfor%}
                    </div>
                


     
            {%endfor%} 
  
    </div> <!-- navbar-collapse.// -->


    <!----------------------- FOR MOBILE=====================-->


    <!--==========================================================-->


  </div> <!--.container-->
</nav>

       
      <!--=============================================-->
    </div>
</div>

